.place-card__image {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 0.36s ease-in-out;

  cursor: pointer;
}

.place-card__image:hover {
  transform: scale(1.15);
}
